@use 'utilities/variables' as *;
@use 'components/cards';
@use 'components/dates';
@use 'components/movie';
@use 'components/checkboxes';
@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

*{padding: 0; margin: 0; text-decoration: none; font-family: 'Anaheim';}

body{
    background-color: $bg-color;
}

main{
    margin-left: 400px;
    margin-top: 20px;
    height: 100vh;
}